<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
    <title>Java eshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div th:replace="layout/layout :: header"></div>


<div class="body">
    <div class="row">
        <p>Create Product</p>
        <form action="#" th:action="@{/products}" th:object="${product}" method="POST">
            <input type="text" placeholder="name" th:field="*{name}" />
            <input type="text" placeholder="price" th:field="*{price}" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div th:replace="layout/layout :: footer"></div>

</body>
</html>